@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rokkitt";
  src: url("../fonts/Rokkitt-Regular.woff2") format("woff2"), url("../fonts/Rokkitt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

button {
  border: unset;
  border-radius: unset;
  background-color: unset;
  padding: 0px;
}

a {
  color: black;
  text-decoration-line: none;
}

img {
  max-width: 100%;
  display: block;
}

.bag-section .bag-container .bag-info .total-amount .buy-bag-button, .bag-section .bag-container .bag-info p, .bag-section .bag-container .list-model-block .list-model .bag-cards__model .price, .bag-section .bag-container .list-model-block .list-model .bag-cards__num {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
}

.bag-section .bag-container .list-model-block > a {
  font-family: "Rokkitt";
  font-weight: normal;
  font-style: normal;
}

.bag-section .bag-container .list-model-block > a::after {
  position: absolute;
  bottom: 0px;
  right: 0px;
  content: "";
  width: 25%;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bag-section .bag-container .list-model-block > a:hover::after {
  width: 100%;
}
.bag-section .bag-container .list-model-block > a:focus::after {
  width: 100%;
}

.bag-section {
  width: 100vw;
  height: 100vh;
}
.bag-section header {
  height: 60px;
}
.bag-section header .bag-block {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.bag-section header .burger-menu {
  top: 60px;
  left: 0px;
  height: calc(100vh - 60px);
}
.bag-section .bag-container {
  padding: 20px 60px 0px;
}
.bag-section .bag-container .list-model-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.bag-section .bag-container .list-model-block .list-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 55vw;
  height: 80vh;
  overflow-y: scroll;
  padding-right: 15px;
}
.bag-section .bag-container .list-model-block .list-model::-webkit-scrollbar {
  margin: 10px;
  width: 3px;
}
.bag-section .bag-container .list-model-block .list-model::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__num {
  font-size: 2rem;
  opacity: 0.5;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border: 1px solid black;
  padding-right: 20px;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model img {
  width: 12.5vw;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model .model-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 30px;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model .model-info p {
  font-size: 2rem;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model .model-info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.bag-section .bag-container .list-model-block .list-model .bag-cards__model .price {
  font-size: 3rem;
  margin-top: 20px;
}
.bag-section .bag-container .list-model-block > a {
  position: relative;
  font-size: 2rem;
  opacity: 0.6;
}
.bag-section .bag-container .list-model-block > a::after {
  opacity: 0.6;
}
.bag-section .bag-container .bag-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 60px;
  top: 60px;
  bottom: 0px;
  width: 35%;
  border-left: 1px solid black;
  padding: 70px 0px 80px 60px;
}
.bag-section .bag-container .bag-info p {
  font-size: 1.5rem;
}
.bag-section .bag-container .bag-info .list-texts {
  overflow-y: scroll;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 12px;
}
.bag-section .bag-container .bag-info .list-texts::-webkit-scrollbar {
  margin: 10px;
  width: 3px;
}
.bag-section .bag-container .bag-info .list-texts::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.bag-section .bag-container .bag-info .list-texts li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bag-section .bag-container .bag-info .list-texts li p {
  white-space: nowrap;
}
.bag-section .bag-container .bag-info .list-texts li > div {
  width: 100%;
  height: 2px;
  background-color: black;
}
.bag-section .bag-container .bag-info .total-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 100%;
}
.bag-section .bag-container .bag-info .total-amount__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bag-section .bag-container .bag-info .total-amount__text p {
  font-size: 3rem;
  white-space: nowrap;
}
.bag-section .bag-container .bag-info .total-amount__text > div {
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.bag-section .bag-container .bag-info .total-amount .buy-bag-button {
  width: 50%;
  height: 60px;
  background-color: black;
  border-radius: 100px;
  font-size: 1.5rem;
  color: white;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.bag-section .bag-container .bag-info .total-amount .buy-bag-button:active {
  background-color: rgb(38, 38, 38);
}

.favorite-section .bag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1500px) {
  .bag-section .bag-container {
    padding: 20px 40px 0px;
  }
  .bag-section .bag-container .bag-info {
    padding: 50px 0px 60px 40px;
  }
  .bag-section .bag-container .bag-info .total-amount__text p {
    font-size: 2rem;
  }
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model .model-info p {
    font-size: 1.5rem;
  }
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model .price {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .bag-section .bag-container .bag-info .list-texts li p {
    font-size: 1.25rem;
  }
  .bag-section .bag-container .bag-info .total-amount__text p {
    font-size: 1.75rem;
  }
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model .model-info p {
    font-size: 1.25rem;
  }
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model .price {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 999px) {
  .bag-section .bag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 60px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px 20px 0px;
  }
  .bag-section .bag-container .list-model-block {
    width: 100%;
  }
  .bag-section .bag-container .list-model-block .list-model {
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
    padding-right: 0px;
  }
  .bag-section .bag-container .bag-info {
    position: static;
    padding: unset;
    width: 100%;
    border-left: unset;
    border-top: 2px solid black;
    height: 30vh;
  }
  .bag-section .bag-container .bag-info .list-texts {
    width: 90%;
    opacity: 0.7;
    gap: 10px;
  }
  .favorite-section .bag-container .list-model-block {
    height: 100%;
  }
  .favorite-section .bag-container .list-model-block .list-model {
    height: 70vh;
  }
}
@media screen and (max-width: 650px) {
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model {
    padding: 0px 20px;
  }
  .bag-section .bag-container .list-model-block .list-model .bag-cards__model img {
    display: none;
  }
  .bag-section .bag-container .bag-info .total-amount__text p {
    font-size: 1.25rem;
  }
}