@import 
    "./fontStyles.scss",
    "./nullStyles.scss",
    "./style-inheritance.scss",
    "./mixinStyles.scss";



.bag-section {
    width: 100vw;
    height: 100vh;
    
    header {
        height: 60px;
        .bag-block {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .burger-menu{
            top: 60px;
            left: 0px;
            height: calc(100vh - 60px);
        }
    }

    .bag-container {
        // display: grid;
        // grid-template-columns: 65% 35%;
        padding: 20px 60px 0px;

        .list-model-block {
            display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;
                justify-content: flex-start;


            .list-model {
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                width: 55vw;
                height: 80vh;
                
                overflow-y: scroll;
                padding-right: 15px;
                &::-webkit-scrollbar{
                    margin: 10px;
                    width: 3px;
                }
               
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 10px;
                }
                
                .bag-cards {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5%;
    
                    &__num {
                        @extend %montserrat_regular;
                        font-size: 2rem;
                        opacity: 0.5;
                    }
    
                    .info-block {
                        display: flex;
                        flex-direction: row;
                        gap: 40px;
                    }
    
                    &__model {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;
                        border: 1px solid black;
                        padding-right: 20px;
                    
    
                        img {
                            width: 12.5vw;
                        }
    
                        .model-info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 20px 0px 30px;
    
                            p {
                                font-size: 2rem;
                            }
    
                            &__name {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
    
                        }
    
                        .price {
                            @extend %montserrat_regular;
                            font-size: 3rem;
                            margin-top: 20px;
                        }
                    }
                }
    
            }

            >a {
                position: relative;
                @extend %rokkitt_regular;
                font-size: 2rem;
                opacity: 0.6;

                &::after {
                    @extend %line-link;
                    opacity: 0.6;
                }
            }
        }
        

        .bag-info {
            position: absolute;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            right: 60px;
            top: 60px;
            bottom: 0px;
            width: 35%;

            border-left: 1px solid black;
            padding: 70px 0px 80px 60px;

            p {
                @extend %montserrat_regular;
                font-size: 1.5rem;
            }

            .list-texts {
                overflow-y: scroll;
                padding-right: 15px;
                &::-webkit-scrollbar{
                    margin: 10px;
                    width: 3px;
                }
               
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 10px;
                }


                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 12px;
                li {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    
                    p {
                        white-space: nowrap;
                    }
                    
                    >div {
                        width: 100%;
                        height: 2px;
                        background-color: black;
                    }
                }
            }

            .total-amount {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                
                
                &__text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;

                    p {
                        font-size: 3rem;
                        white-space: nowrap;
                    }

                    >div {
                        width: 100%;
                        height: 2px;
                        background-color: black;
                        transform: translateY(-10px);
                    }


                    
                }

                .buy-bag-button {
                    width: 50%;
                    height: 60px;
                    background-color: black;
                    border-radius: 100px;
    
                    @extend %montserrat_regular;
                    font-size: 1.5rem;
                    color: white;

                    transform: translateX(50%);
    
                    &:active {
                        background-color: rgb(38, 38, 38);
                    }
                }
            }




        }
    }


}

.favorite-section {
    .bag-container {
        display: flex;
        align-items: center;
    }
}







@media screen and (max-width: 1500px) {
    .bag-section {
        .bag-container {
            padding: 20px 40px 0px;

            .bag-info {
                padding: 50px 0px 60px 40px;

                .total-amount__text {
                    p {
                        font-size: 2rem;
                    }
                }
            } 

            .list-model-block {
                .list-model {
                    .bag-cards__model {
                        .model-info {
                            p  {
                                font-size: 1.5rem;
                            }
                            

                        }

                        .price {
                            font-size: 2rem;
                        }
                    }
                }
            }
        } 
    } 



}

@media screen and (max-width: 1280px) {
    .bag-section {
        .bag-container {
            .bag-info {

                .list-texts{ 
                    li {
                        p {
                            font-size: 1.25rem;
                        }
                    } 
                }   

                .total-amount__text {
                    p {
                        font-size: 1.75rem;
                    }
                }
            } 

            .list-model-block {
                .list-model {
                    .bag-cards__model {
                        .model-info {
                            p  {
                                font-size: 1.25rem;
                            }
                            

                        }

                        .price {
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        } 
    } 


}




@media screen and (max-width: 999px) {

    .bag-section {
        .bag-container {
            display: flex
;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: space-around;
            padding: 10px 20px 0px;

            .list-model-block {
                width: 100%;
                .list-model {
                    width: 100%;
                    height: 55vh;
                    overflow-y: scroll;
                    padding-right: 0px;
                }
            }

            .bag-info {
                position: static;
                padding: unset;
                width: 100%;
                border-left: unset;
                border-top: 2px solid black;
                height: 30vh;

                .list-texts {
                    width: 90%;
                    opacity: 0.7;
                    gap: 10px;
                }

            }
        }
    } 

    .favorite-section  {
        .bag-container {
            .list-model-block {
                height: 100%;

                .list-model {
                    height: 70vh;
                }
            }
        } 
    }

}




@media screen and (max-width:650px) {
    .bag-section {
        .bag-container {
            .list-model-block {
                .list-model {
                    height: 50vh;

                    .bag-cards__model {
                        padding: 0px 20px;

                        img {
                            display: none;
                        }

                        .model-info {
                            p {
                                font-size: 1rem;
                            }

                        } 
                        
                        .price {
                            font-size: 1.25rem;
                        }

                        
                    } 
                } 

                > a {
                    font-size: 1.5rem;
                    margin: 3px 0px;
                }
            } 

            .bag-info {
                .list-texts {
                    width: 90%;
                    opacity: 0.7;
                    gap: 5px;

                    li {
                        p {
                            font-size: 1rem;
                        }
                    }
                }

                .total-amount__text {
                    p {
                        font-size: 1.25rem;
                    }
                } 
            } 
        } 
    }


    
}
